th, td {
    text-align: center;
    padding: 15px;
    width: 100px;
}

.Info-container {
  padding: 10px;
}

.game-over {
  font-size: 42px;
  margin-bottom: 20px;
}

.win {
  color: green;
}

.lose {
  color: red;
}
